html{
       font-size: 20px;
       font-family: 'Caveat', cursive;
        font-family: 'Kalam', cursive;

}
input[type=text], select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  align-self: center;
}
input[type=password], select {
  width: 25%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  align-self: center;
}
/*input[type=submit] */
button{
  width: 10%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  font-size: 25px;
  font-family: 'Caveat', cursive;
  font-family: 'Kalam', cursive;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #ff8c1a;
  color: white;
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}

.myclass{
  border-radius: 5px;
  background-color: white;
  padding: 20px;
}
.myform{
  text-align: center;
}
/*'#image' {
  height: 20;
  width: 40;
  text-align: center;
}*/
body{
  background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcROTC7V69lDkzLquJ435KPjR3ogX5lPTg7H4g5PBG1X62nsgf-Y&usqp=CAU');
  background-repeat: no-repeat;
  background-position: left;
}
h1{
	color: white;
	background-color: #4CAF50;
	text-align: center;
}
h1:hover{
	background-color: #ff8c1a;
  	color:white;
  	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
}